@model IEnumerable<EgoPadel.Models.Equipo>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" &amp;gt; />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<table class="table bg-light table-hover table-striped table-bordered" style="position: relative; left: 100px; margin-top: 50px; margin-bottom: 100px;">
    
    <thead >
        <tr><th class="text-center" colspan="4" style="font-family: 'Bebas Neue', cursive; font-size: 40px;">Buscar Equipo</th></tr>
        <tr class="text-center">
            <th >
                Escudo
            </ th >
            <th >
                Nombre
            </th >
            <th >
                Puntos
            </th >
            
        </tr >
    </thead >
    <tbody id = "tbody" >
        
    </tbody>
</table>
<script>
    function insertarEquipos() {
        let equipos = @Html.Raw(Json.Serialize(ViewBag.Reservas));
        let listaEquipos = JSON.parse(equipos);
            console.log(listaEquipos);
       
    for (let i = 0; i < listaEquipos.length; i++)
    {

            if (i != 0 && listaEquipos[i].EquipoId == listaEquipos[i - 1].EquipoId) {
            delete(listaEquipos[i]);
            delete(listaEquipos[i - 1]);
        }
    }
    console.log(listaEquipos)

    listaEquipos.forEach(function(equipo) {
        let tbody = document.getElementById("tbody");

        let row = document.createElement("tr");
            row.className = "text-center";
        tbody.appendChild(row);

        let colFoto = document.createElement("td");
        let foto = document.createElement("img");
        foto.src = '/images/Equipos/' + equipo.Foto;
        foto.width = 50;
        colFoto.appendChild(foto);
        row.appendChild(colFoto);


        let colNombre = document.createElement("td");
        colNombre.innerHTML = equipo.Nombre
            row.appendChild(colNombre);

        let colPuntos = document.createElement("td");
        colPuntos.innerHTML = equipo.Puntos
        row.appendChild(colPuntos);

        let colBoton = document.createElement("td");
            colBoton.className = " text-center ";

        let boton = document.createElement("a");
        boton.innerHTML = 'Unirse';
        boton.setAttribute('href' , "/Equipo/Unirse/" + equipo.EquipoId);
        boton.className = "w-50 btn btn-lg btn-success form-control";
        colBoton.appendChild(boton);

        row.appendChild(colBoton);

        
    })

    }
    
window.onload = insertarEquipos();
</script>

