@model IEnumerable<EgoPadel.Models.Equipo>

@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buscar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoEscudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">

        
    </tbody>
</table>
<script>
    let equipos = @Html.Raw(Json.Serialize(ViewBag.Reservas))
    let listaEquipos = JSON.parse(equipos);
    
    let listaEquiposDisponible = [];
    
    for(let i=1; i<listaEquipos.length; i++){
       
        if(listaEquipos[i].Id == listaEquipos[i-1].Id){
            delete(listaEquipos[i]);
            delete(listaEquipos[i-1]);
            
        }
    }
    
    console.log(listaEquipos);
    
</script>