@model IEnumerable<EgoPadel.Models.Equipo>

@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buscar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoEscudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">

        
    </tbody>
</table>
<script>
    function insertarEquipos(){
        let equipos = @Html.Raw(Json.Serialize(ViewBag.Reservas))
        let listaEquipos = JSON.parse(equipos);
    
        for(let i=1; i<listaEquipos.length; i++){
       
            if(listaEquipos[i].Id == listaEquipos[i-1].Id){
                delete(listaEquipos[i]);
                delete(listaEquipos[i-1]);
            }
        }
   
        listaEquipos.forEach(function (equipo){
             let tbody=document.getElementById("tbody");
             
             let row=document.createElement("tr");
             tbody.appendChild(row);

             let colNombre=document.createElement("td");
             colNombre.innerHTML=equipo.Nombre
             row.appendChild(colNombre);

             let colFoto=document.createElement("td");
             let foto = document.createElement("img");
             foto.src='/images/Equipos/' + equipo.FotoEscudo;
             foto.width=50;
             colFoto.appendChild(foto);
             row.appendChild(colFoto);

             let colPuntos=document.createElement("td");
             colPuntos.innerHTML=equipo.Puntos
             row.appendChild(colPuntos);

             let colBoton=document.createElement("td");
             let botonUnirse=document.createElement("button");
             botonUnirse.innerHTML="UNIRSE";
             colBoton.appendChild(botonUnirse);
             row.appendChild(colBoton);
        })

    }
    window.onload = insertarEquipos();
</script>