@model IEnumerable<EgoPadel.Models.Equipo>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


</head>
<h1> Buscar </h1>
<p >
    <a asp-action = "Create" > Create New </a>
</p >
<table class= "table" >
    <thead >
        <tr >
            <th >
                Nombre
            </ th >
            <th >
                Escudo
            </th >
            <th >
                Puntos
            </th >
            <th ></ th >
        </tr >
    </thead >
    <tbody id = "tbody" >
        
    </tbody>
</table>
<script>
    let equipo = @Html.Raw(Json.Serialize(ViewBag.Equipo));
    let listaEquipo = JSON.parse(equipoo);
    function insertarEquipos() {
        let equipos = @Html.Raw(Json.Serialize(ViewBag.Reservas));
        let listaEquipos = JSON.parse(equipos);
            console.log(listaEquipos);
       
    for (let i = 0; i < listaEquipos.length; i++)
    {

            if (i != 0 && listaEquipos[i].EquipoId == listaEquipos[i - 1].EquipoId) {
            delete(listaEquipos[i]);
            delete(listaEquipos[i - 1]);
        }
    }
    console.log(listaEquipos)

    listaEquipos.forEach(function(equipo) {
        let tbody = document.getElementById("tbody");

        let row = document.createElement("tr");
        tbody.appendChild(row);

        let colNombre = document.createElement("td");
        colNombre.innerHTML = equipo.Nombre
            row.appendChild(colNombre);

        let colFoto = document.createElement("td");
        let foto = document.createElement("img");
        foto.src = '/images/Equipos/' + equipo.Foto;
        foto.width = 50;
        colFoto.appendChild(foto);
        row.appendChild(colFoto);

        let colPuntos = document.createElement("td");
        colPuntos.innerHTML = equipo.Puntos
        row.appendChild(colPuntos);

        let colBoton = document.createElement("td");

        let boton = document.createElement("a");
        boton.innerHTML = 'Unirse';
        boton.setAttribute('href' , "/Equipo/Unirse/" + equipo.EquipoId);

            colBoton.appendChild(boton);

        row.appendChild(colBoton);

        
    })

    }
    
window.onload = insertarEquipos();
</script>

