@model EgoPadel.Models.Equipo

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-4" style="height:750px;">
    <div class="row">
        <div class="col-md-4">
    <div class="card" style="height:390px; top:140px; left:33%;">
        <div class="card-body">
            <h2 class="col-12 text-success text-center py-4">
                <strong>Crear Equipo</strong>
            </h2>
                    <form asp-action="Crear" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <span style="color: black;">Nombre del Equipo</span>
                            <input asp-for="Nombre" class="form-control" placeholder="Introduzca el nombre del equipo" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div><br />
                        <div class="form-floating">
                            <span style="color: black;">Seleccionar Escudo del Equipo</span>
                            <input asp-for="FotoEscudo" class="form-control form-control-sm" type="file" name="file" />
                            <span asp-validation-for="FotoEscudo" class="text-danger"></span>
                        </div><br />
                        <div class="form-group">
                            <input type="submit" value="Crear Equipo" class="w-100 btn btn-lg btn-success form-control" style="margin-top: 10px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
