@page
@model IndexModel
@{
    ViewData["Title"] = "Editar Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6" >
        
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <br />
                <h1>Mis puntos : @Model.Input.Puntos</h1>
                <br />
            </div>
            <div class="form-group" >
                <label asp-for="Input.RutaImagen">Foto de Usuario</label>
                <br />
                @if (@Model.Input.RutaImagen == null)
                {
                    <img src="~/images/userDefault.png" width="100px" class="img-thumbnail" />
                }
                else
                {

                    <img src="~/fotosUsuarios/@Model.Input.RutaImagen" width="100px" class="img-thumbnail" />
                }
            </div>
            
            <div >
                <p>Nombre de usuario</p>
                <input minlength="3" asp-for="Input.Login" maxlength="25" placeholder="Nombre de Usuario" class="form-control text-center" style="width:300px;"
                autocomplete="Login" aria-required="true"  />
                <span asp-validation-for="Input.Login" class="text-danger"></span>
                <label asp-validation-for="Login"></label>
            </div>
            
            <div>
                <p>Nombre</p>
                <input minlength="3" maxlength="25" asp-for="Input.Nombre" placeholder="Nombre" style="width:300px;" autocomplete="on"
                       class="form-control text-center" aria-required="true" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div  >
                <p>Apellidos</p>
                <input minlength="3" asp-for="Input.Apellidos" placeholder="Apellidos" class="form-control text-center" autocomplete="on" aria-required="true" />
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                
            </div>
            <div  >
                <p>Email</p>
                <input minlength="3" required asp-for="Input.Email" data-val-required="El campo Email es obligatorio." placeholder="Email" class="form-control text-center" type="email" autocomplete="Email" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            <div  >
                <p>Número de teléfono</p>
                <input style="width:110px;" maxlength="9" data-val-length="El Telefono debe tener 9 números." data-val-length-min="9" asp-for="Input.PhoneNumber" 
                placeholder="Teléfono" class="form-control text-center" autocomplete="PhoneNumber" aria-required="true" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary form-control">Actualizar mi perfil</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
