<link rel="stylesheet" href="~/css/contacto.css" asp-append-version="true" />
<div class="card-acesibilidad" style="background-color:palegreen;">
    <span class="title">Leave a Comment</span>
    <form class="form">
        <div class="group">
            <input placeholder="‎" type="text" required="">
            <label for="name">Name</label>
        </div>
        <div class="group">
            <input placeholder="‎" type="email" id="email" name="email" required="">
            <label for="email">Email</label>
        </div>
        <div class="group">
            <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
            <label for="comment">Comment</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

