@{
    ViewData["Title"] = "Pagina principal";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="bg-black">
    <div class="text-center">
    
	<video heigth="650px" width="100%" autoplay muted loop>
        <source src="~/videos/intro.mp4"/>
    </video>
        <p id="nombreIzq">E<br />G<br />O<br />P<br />A<br />D<br />E<br />L</p>
        <p id="nombreDer">E<br />G<br />O<br />P<br />A<br />D<br />E<br />L</p>
        <div id="titulo">
            <h1>CLUB DE PÁDEL INDOOR</h1>
            <h2>EGOPADEL</h2>
        </div>
        
</div>
</div>

