@{
    ViewData["Title"] = "Pagina principal";
}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div style="text-align:center; height:900px;">
           <video width="100%" autoplay muted loop preload="auto">
                <source src="~/videos/intro.mp4"/>
            </video>

            <div id="titulo">
                <h1>CLUB DE PÁDEL INDOOR</h1>
                <h2>EGOPADEL</h2>
            </div>
        </div>
        
   

    <div id="informacion">
        <h2>CLUB DE PÁDEL INDOOR</h2>
    </div>
    </body>
</html>