@{
    ViewData["Title"] = "Pagina principal";
}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" &amp;gt; />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div style="text-align:center; height:900px;">
           <video width="1520" height="850" autoplay muted loop preload="auto">
                <source src="~/videos/intro.mp4"/>
            </video>

            <div id="titulo">
                <h1>CLUB DE PÁDEL INDOOR</h1>
                <h2>EGOPADEL</h2>
            </div>
        </div>
        
   

    <div id="informacion">
        <img id="logoSecundario" src="~/images/logo.png" />
        <h2>CLUB DE PÁDEL INDOOR</h2>
        <table id="contenidos">
            <tr>
                <td><img id="icono" src="~/images/trofeo.png" /></td>
                <td><img id="icono" src="~/images/raqueta-de-padel.png" /></td>
                <td><img id="icono" src="~/images/apoyar.png" /></td>
                <td><img id="icono" src="~/images/tienda.png" /></td>
            </tr>
            <tr>
                <td>Torneos Y Pozos</td>
                <td>5 Pistas De Pádel</td>
                <td>Crea Tu Equipo</td>
                <td>Productos De Pádel</td>
            </tr>
        </table>
        
    </div>
    </body>
</html>