@{
    ViewData["Title"] = "Pagina principal";
}

<div class="bg-black">
    <div class="text-center">
    
	<video heigth="650px" width="100%" autoplay muted loop>
        <source src="~/videos/intro.mp4"/>
    </video>
    
</div>
</div>

