@{
    ViewData["Title"] = "Pagina principal";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" &amp;gt; />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <div style="text-align:center; height:900px;">
        <video width="1520" height="850" autoplay muted loop preload="auto">
            <source src="~/videos/intro.mp4" />
        </video>

        <div id="titulo">
            <h1>CLUB DE PÁDEL INDOOR</h1>
            <h2>EGOPADEL</h2>
        </div>
    </div>



    <div id="informacion">
        <img id="logoSecundario" src="~/images/logo.png" />
        <h2>CLUB DE PÁDEL INDOOR</h2>
        <table id="contenidos">
            <tr>
                <td><img id="icono" src="~/images/trofeo.png" /></td>
                <td><img id="icono" src="~/images/raqueta-de-padel.png" /></td>
                <td><img id="icono" src="~/images/apoyar.png" /></td>
                <td><img id="icono" src="~/images/tienda.png" /></td>
            </tr>
            <tr>
                <td>Torneos Y Pozos</td>
                <td>5 Pistas De Pádel</td>
                <td>Crea Tu Equipo</td>
                <td>Productos De Pádel</td>
            </tr>
        </table>
    </div>
    <div class="divDecorativo"></div>
    <div class="infoPistas">
        <h2 style="font-family: 'Bebas Neue', cursive; font-size: 80px; position: relative; bottom:70px; left:50px;">ALQUILER DE PISTAS</h2>
        <div class="card">
            <div class="content">
                <div class="back">
                    <div class="back-content">
                        <strong style="font-family: 'Bebas Neue', cursive; font-size: 35px;">Lunes a Viernes</strong>
                    </div>
                </div>
                <div class="front">

                    <div class="img">
                        <div class="circle">
                        </div>
                        <div class="circle" id="right">
                        </div>
                        <div class="circle" id="bottom">
                        </div>
                    </div>

                    <div class="front-content">

                        <div>
                            <table>
                                <tr style="position:relative; left:90px; top:60px; font-size: 25px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">Mañanas</td>
                                    <td>Tardes</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">09:00 A 17:00 hs.</td>
                                    <td>17:00 A 23:00 hs.</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">1 HORA 10€</td>
                                    <td>1 HORA 18€</td>

                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">1.5 HORAS 14€</td>
                                    <td>1.5 HORAS 28€</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">2 HORAS 19€</td>
                                    <td>2 HORAS 32€</td>
                                </tr>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardFin">
            <div class="content">
                <div class="back">
                    <div class="back-content">
                        <strong style="font-family: 'Bebas Neue', cursive; font-size: 35px;">SÁBADOS Y DOMINGOS</strong>
                    </div>
                </div>
                <div class="front">

                    <div class="img">
                        <div class="circle">
                        </div>
                        <div class="circle" id="right">
                        </div>
                        <div class="circle" id="bottom">
                        </div>
                    </div>

                    <div class="front-content">

                        <div>
                            <table>
                                <tr style="position:relative; left:90px; top:60px; font-size: 25px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">Mañanas</td>
                                    <td>Tardes</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">08:00 A 14:00 hs.</td>
                                    <td>14:00 A 21:00 hs.</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">1 HORA 18€</td>
                                    <td>1 HORA 10€</td>

                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">1.5 HORAS 28€</td>
                                    <td>1.5 HORAS 14€</td>
                                </tr>
                                <tr style="position:relative; left:90px; top:60px; font-size: 17px; font-family: 'Bebas Neue', cursive;">
                                    <td style="width:170px;">2 HORAS 32€</td>
                                    <td>2 HORAS 19€</td>
                                </tr>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button" onclick="location.href='@Url.Action("Index","Reserva")'">
            Reservar Pista
        </button>
    </div>
</body>
</html>