@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación Reestablecer Contraserña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reestablecida. Porfavor <a asp-page="./Login">pulsa aquí para iniciar sesión</a>.
</p>
