@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using EgoPadel.Utilidades

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EgoPadel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EgoPadel.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom border-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand "  asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-controller="Home" asp-action="Index">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-controller="Reserva" asp-action="Crear">Reservar Pista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Torneo" asp-action="Index">Torneos y Pozos</a>
                        </li>
                        
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clasificaciones
                            </a>
                            <ul class="dropdown-menu ">
                                <li>
                                    <a class="dropdown-item"  asp-controller="Equipo" asp-action="Index">Clasificación Por Equipos</a>
                                    <a class="dropdown-item"  asp-controller="ClasInd" asp-action="Index">Clasificación Individual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Producto" asp-action="Index">Tienda</a>
                        </li>
                        <li>
                            @if (HttpContextAccessor.HttpContext.Session.Get<List<Carrito>>(WC.SessionCarrito) != null)
                            {
                                <a asp-action="Index" asp-controller="Carrito" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<Carrito>>(WC.SessionCarrito).Count();
                                    }
                                    <i class="fas fa-shopping-cart text-white"></i> &nbsp; (@count)
                                </a>
                            }
                            else
                            {
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-cart text-white"></i> &nbsp; (0)
                                </a>
                            }
                        </li>
                   
                        @if (User.IsInRole(WC.AdminRol))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administración
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Crear administrador</a>
                                        <a class="dropdown-item" asp-controller="Producto" asp-action="Index">Administrar Productos</a>
                                        <a class="dropdown-item" asp-controller="Empleado" asp-action="Index">Administrar Empleados</a>
                                        <a class="dropdown-item" asp-controller="Equipo" asp-action="Index">Administrar Equipos</a>
                                        <a class="dropdown-item" asp-controller="ParticipantesIndividual" asp-action="Index">Administrar Participantes Torneo (Individual)</a>
                                        <a class="dropdown-item" asp-controller="ParticipantesEquipo" asp-action="Index">Administrar Participantes Torneo (Equipo)</a>
                                        <a class="dropdown-item" asp-controller="Reserva" asp-action="Index">Administrar Reservas</a>
                                        <a class="dropdown-item" asp-controller="Torneo" asp-action="Index">Administrar Torneos</a>
                                        <a class="dropdown-item" asp-controller="Pista" asp-action="Index">Administrar Pistas</a>
                                        <a class="dropdown-item" asp-controller="Pedido" asp-action="Index">Administrar Pedidos</a>
                                        <a class="dropdown-item" href="https://sandbox.braintreegateway.com/merchants/wby3xv5jksnzp7kj/home">Transacciones de Usuarios</a>

                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notificaciones" />
            @RenderBody()
        </main>
    </div>

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="background-color:black;position:relative; bottom:-60px;">
       
        <div class="col mb-3">
            
        </div>

        <div class="col mb-3">
            <a class="navbar-brand " style="text-decoration:none;color:white;" asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/logo.png" style="width:30px;height:30px;" />  EgoPadel © 2023</a>
            
        </div>
        <div class="col mb-3" style="position: relative; top: 50px;">
            <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-tiktok fa-2xl" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;
        </div>

        

        <div class="col mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2 text-white"><a asp-action="Index" asp-controller="Home" class="nav-link p-0 ">Página Principal</a></li>
                <li class="nav-item mb-2 text-white"><a asp-controller="General" asp-action="Contacto" class="nav-link p-0 ">Página de Contacto</a></li>
                <li class="nav-item mb-2 text-white"><a asp-controller="General" asp-action="MapaWeb" class="nav-link p-0 ">Mapa Web</a></li>
                <li class="nav-item mb-2 text-white"><a asp-controller="General" asp-action="Accesibilidad" class="nav-link p-0 ">Accesibilidad</a></li>
                
            </ul>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
