@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
      
    <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido <b>@UserManager.GetUserName(User)</b></a>
    </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg" width="30px">
            </a>
            <ul class="dropdown-menu" style="margin-left:-120px;">
                @*<li><a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a></li>*@
                <li><a class="dropdown-item">Perfil</a></li>
                <li><a class="dropdown-item">Mi Equipo</a></li>
                <li><a class="dropdown-item">Historial de Partidos</a></li>
                <li class="dropdown-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-danger">Cerrar sesión</button>
                    </form>
                </li>
            </ul>
       
    </li>
}
else
{
        <li class="nav-item userMenu">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </li>
        <li class="nav-item userMenu">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
        </li>
}
</ul>
