@model EgoPadel.Models.ViewModels.ReservaVM

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/Reserva.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
@if (User.IsInRole(WC.AdminRol) | User.IsInRole(WC.UsuarioRol))
{
    <div class="py-4" style="height:750px; width: 150%; margin-bottom:-20%; margin-top:2.8%;">
        <div class="contenedorImg">
            <img src="/images/fotoReserva.jpg" class="imagenReserva" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="height:420px; top:160px; left:46%; border-radius:0;" id="card">
                    <div class="card-body">
                        <h2 class="col-12 text-success text-center py-4">
                        <strong>Reservar Pista</strong>
                        </h2>
                            <form asp-action="Crear">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <select asp-for="Reserva.PistaId" class="form-select" asp-items="Model.PistaLista">
                                        <option disabled selected>Seleccione una Pista</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Reserva.FechaReserva" class="control-label">Fecha</label>
                                    <input asp-for="Reserva.FechaReserva" class="form-control" type="date" id="fechaReserva"/>
                                </div>
                                <script language="javascript">
                                    var today = new Date();
                                    var dd = String(today.getDate()).padStart(2, '0');
                                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                                    var yyyy = today.getFullYear();

                                    today = yyyy + '-' + mm + '-' + dd;
                                    $('#fechaReserva').attr('min', today);
                                </script>
                                <div class="form-group">
                                    <label asp-for="Reserva.HoraInicio" class="control-label"></label>
                                <select asp-for="Reserva.HoraInicio" class="form-select" id="selectHoras">
                                        <option disabled selected>Seleccione la hora</option>
                    
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Reserva.Duracion" class="form-control" value=1 type="hidden" />       
                                </div>
                            <div class="form-group">
                                <h3 id="precio-borrar" style=" color: black; margin-top: 10px; float: right; margin-right: 10px;">Total: 0€</h3>
                            </div>
                                <div class="form-group">
                                    <input asp-for="Reserva.Precio" class="form-control" value=18 type="hidden"/>
                                    <span asp-validation-for="Reserva.Precio" class="text-danger"></span>
                                    <h3 id ="precio" style="display: none; color: black; margin-top: 10px; float: right; margin-right: 10px;">Total: 18€</h3>
                                </div>
                                <div class="form-group">
                                <input type="submit" value="Reservar" class="w-100 btn btn-lg btn-success form-control" style="margin-top: 10px;"  />
                                </div>
                            </form>
                        @if (User.IsInRole(WC.AdminRol))
                        {
                            <div style="text-align: right; margin-top: 10px;">
                                <a asp-action="Index" style="margin-top: 10px;">Volver a la lista</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
    <script>
        function insertarOpciones() {

            let fechas = @Html.Raw(Json.Serialize(ViewBag.Reservas))
                let listaFecha = JSON.parse(fechas);
            let horas = ["10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00"];
            let selectHoras = document.getElementById('selectHoras');
            selectHoras.innerHTML = "";

            for (i = 0; i < listaFecha.length; i++) {
                if (selectFecha.value == listaFecha[i].FechaReserva) {
                    let posicion = horas.findIndex(hora => hora == listaFecha[i].HoraInicio);
                    delete (horas[posicion]);
                }
            }

            horas.forEach(function (hora) {
                let opcion = document.createElement("option");
                opcion.value = hora;
                opcion.innerHTML = hora;
                selectHoras.appendChild(opcion);
            })

        }

        let selectFecha = document.getElementById('fechaReserva');
        selectFecha.addEventListener("change", insertarOpciones);

        function reiniciarFecha() {
            selectFecha.value = Date.now().toLocaleString;
            selectFecha.innerHTML = Date.now().toLocaleString;
            console.log("Hola");
        }
        
        function insertarPrecio(){
            let selectPista = document.getElementsByTagName("select")[0];
            let selectFecha = document.getElementById('fechaReserva');
            let selectHoras = document.getElementById('selectHoras');

            console.log(selectPista.value);
            console.log(selectFecha.value);
            console.log(selectHoras.value);

            if (selectPista.value != "" && selectFecha.value != "" && selectHoras.value != "") {
                let precio = document.getElementById("precio");
                precio.style.display='block';

                let precio2 = document.getElementById("precio-borrar");
                precio2.style.display = 'none';

                let card= document.getElementById("card");
                card.style.height= '420px';
            }
        }

        let selectPista = document.getElementsByTagName("select")[0];
        let selectHoras = document.getElementById('selectHoras');

        selectFecha.addEventListener("change", insertarPrecio)
        selectPista.addEventListener("change", insertarPrecio);
        selectHoras.addEventListener("change", insertarPrecio)

        window.onload = reiniciarFecha();


    </script>
}
else
{
    <div class="contenedorNoInicioSesion">
        <img src="~/images/inicio.png" id="imagenSesion">
        <h1 class="texto">Para realizar una reserva es necesario iniciar sesión</h1>
        <button class="btn-primary boton"><a asp-area="Identity" asp-page="/Account/Login" class="link">Iniciar Sesión</a></button>
        <button class="btn-primary boton"><a asp-area="Identity" asp-page="/Account/Register" class="link">Registarse</a></button>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
