body {
}

.contenedorNoInicioSesion{
    position: relative;
    left: 35%;
    padding: 0px 0px 80px 0px;
    background-color: white;
    color: black;
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 0px;
}

.texto {
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
}

#imagenSesion{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.boton{
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    height: 70px;
}


.imagenReserva {
    width: 330px;
    margin-top: 3.8%;
    height: 420px;
}

.contenedorImg {
    margin: 0;
    float: left;
    position:relative;
    left:19%;
    border-radius: 10px;
}