html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0 0 60px 0;
    background-color: black;
    height: 100%;
}

.footer {
    color: white;
    background-color: black;
}

.container {
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

#logo {
    width: 60px;
    height: 60px;
}

#titulo {
    margin: 0px auto;
    position: relative;
    bottom: 600px;
    width: 600px;
    left: 100px
}

#titulo h1 {
     font-size: 80px;
     font-family: 'Bebas Neue', cursive;
}

#titulo h2 {
     font-size: 70px;
     font-family: 'Bebas Neue', cursive;
}

#informacion {
    display: flex;
    width: 120%;
    height: 50px;
    background-color: lightgray;
    color: black;
    position: relative;
    bottom: 150px;
}
