html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black
}

.footer{
    color: white;
    background-color: black;
}

.container{
    color: white;
}

#logo{
    width:60px;
    height:60px;
}

#nombreIzq {
    position: absolute;
    left: 35px;
    top: 150px;
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
}

#nombreDer {
    position: absolute;
    right: 35px;
    top: 150px;
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
}