@model EgoPadel.Models.ParticipantesIndividual

@{
    ViewData["Title"] = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de que quieres borrar?</h3>
<div>
    <h4>Participante Individual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Torneo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Torneo.Modalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioApp.UserName)
        </dd>
    </dl>
    
    <form asp-action="Borrar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
