@model EgoPadel.Models.Pedido

<div style="margin-left:50px">
	<p><a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Carrito" asp-action="Index">Carrito</a> / Confirmación</p>
</div>
<div class="text-center" style="margin-left:15%;">
	
	@if (Model != null)
	{
		<h1 class="text-info">¡Felicidades!</h1>
		<p>Tu compra ha sido realizada con éxito <br><br>
			Se te ha enviado por correo un tiquet que deberás esneñarnos en mostrador para que te demos tus productos.
			Nº @Model.Id
		</p>
		<br /><br />
		<img src="/images/gifCompra.gif" width="40%" />
		<br /><br />
	}
	else
	{
		<p>Error</p>
	}
</div>
